

body{
    background-color: #7f694c;
}

.mainpage{
    width: 1000px;
    height: 400px;
    margin: 200px auto;
    background-color: rgb(224, 200, 138);
    padding: 16px;
    font-family: DejaVu Sans Mono, monospace;
}

.title {
    font-size: 40px;
    color: beige;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    width: 400px;
    background-color: #190c0ca5;
}

.links {
    text-align: center;
    background-color: #190c0ca5;
    padding: 45px;
    font-size: 24px;
}

.banana,
.quesadilla,
.ramen{
    background-color: beige;
    padding: 8px;
    margin-left: 200px;
    margin-right: 200px;

}

